################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Blender/.vs/CrystalPython/v16
/Blender/.vs/CrystalPython/v16
/Blender/CrystalPLI/x64/Debug
/Blender/x64/Debug
/Blender/x64/Debug
/Blender/x64/Debug
/Blender/x64/Debug
/Blender/x64/Debug
/Blender/x64/Debug
/Blender/x64/Release
/Blender/CrystalPLI/x64/Release
